/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// Include material icons
@import "scss/material_icons.scss";

body {
  background: #fffffe;
  //solution to android browser menu scroll
  //http://stackoverflow.com/questions/15132630/how-to-prevent-document-scrolling-but-allow-scrolling-inside-div-elements-on-web
  position: fixed;
}

a {
  text-decoration: none;
}

#content {
  background: darkgreen;
}

[class^="muidocs-icon-"], [class*=" muidocs-icon-"] {
  font-family: 'material-ui-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
